<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainpage</title>
</head>
<body>
    
   

    <div class="container">
        <h1>Thank User</h1>
        <h3>Your Data is updated in database !</h3>
    </div>


    
</body>
</html>